results_exponents.txt
Figure2_CreateBasinWorldPlot.R
.Rhistory
plots/**

main_create_world_basin_plot.r
.Rproj.user
regionalization_watergap3.Rproj
.RData
review.analyse_kmeans.r
review.analyse_tuning.r
review.robustness_check.r
review.runoff_gamma_plots.r
review.smax_plot.R
review.create_maps_kge.r
review.create_kge_analysis_increase_knowledge.r
review.prepare_model_run_for_KGE.r
main_get_exponents.r
main_gamma_plot.r
main_gamma_histograms.r

data/_Ablage/**
data/grdc_spatial/**
data/KGE/**
data/upload/**
data/G_CALIB_BASIN.UNF2
data/G_GAMMA_HBV_B2B_eu.UNF0
data/G_GAMMA_HBV_KMEANS_eu.UNF0
data/G_GAMMA_HBV_KNN_eu.UNF0
data/G_GAMMA_HBV_MLR_eu.UNF0
data/G_GAMMA_HBV_SI_eu.UNF0
data/G_GAMMA_HBV_SP_af.UNF0
data/G_GAMMA_HBV_SP_eu.UNF0
data/G_Smax_af.UNF0
data/G_Smax_as.UNF0
data/G_Smax_au.UNF0
data/G_Smax_eu.UNF0
data/G_Smax_na.UNF0
data/G_Smax_sa.UNF0
data/regression_b2b.rds
data/regression_mlr.rds
data/type_all.rds
data/type_climatic.rds
data/type_physio_climatic.rds
data/type_physio.rds
data/valid_basins.txt
data/cv_runoff_global.tif
data/sd_riveravailability_global.tif
data/sum_riveravailability_global.tif
