results_exponents.txt
Figure2_CreateBasinWorldPlot.R
.Rhistory
plots/**
data/**
main_create_world_basin_plot.r
.Rproj.user
data/**
regionalization_watergap3.Rproj
.RData
review.analyse_kmeans.r
review.analyse_tuning.r
review.robustness_check.r
review.runoff_gamma_plots.r
review.smax_plot.R
review.create_maps_kge.r
review.create_kge_analysis_increase_knowledge.r
review.prepare_model_run_for_KGE.r
main_get_exponents.r
